html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
}

.main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px;
}

.dropdown {
    width: 15%;
}

.animal-container {
    display: block;
    margin-bottom: 10px;
  }

.animal-select {
    width: 200px; 
    height: 50px; 
    padding: 10px;
    font-size: 16px;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #animal-info {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    margin-left: 20px; 
    height: auto; 
    overflow: auto;
    border-radius: 10px;
    width: 75%;
  }

  #all-animal-info{
        flex-grow: 1;
        padding: 20px;
        background-color: #fff;
        margin-left: 20px; 
        height: auto; 
        overflow: auto;
        border-radius: 10px;
        width: 75%;
  }
  

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.error {
    margin-bottom: 10px;
    background-color: #ffdddd;
    border: 1px solid #ff9999;
    padding: 10px;
    border-radius: 5px;
}